.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.dot-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #74bd4f;

    box-shadow: inset 0 0 0em gold, 0 0 0.4em #4aff1d;
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffc440;

    box-shadow: inset 0 0 0em gold, 0 0 0.4em #efff00;
}

.dot-future {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #dcdcdc;

    box-shadow: inset 0 0 0em gold, 0 0 0.4em #bdbdbd;
}

.text-dot {
    font-weight: 700;
}

@media(max-width: 550px) {
    .text-dot.text-completed.text-nactual {
        opacity: 0;
    }
    .text-dot.text-uncompleted.text-nactual {
        opacity: 0;
    }
}


.centralize-dot-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}